body {
    background-color: #a179cf;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
}

#buttons {
    display: flex;
    gap: 10px;
}

.btn, .stop {
    background-color: #5c3c87;
    color: #fff;
    border: none;
    padding: 10px 20px;
    cursor: pointer;
    border-radius: 5px;
    font-size: 16px;
}

.btn:hover, .stop:hover {
    background-color: #462d6a;
}
